<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131501421482-pg54l5kjedla8g14l0hhjqqt62ps4luq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131501421482-pg54l5kjedla8g14l0hhjqqt62ps4luq</string>
	<key>API_KEY</key>
	<string>AIzaSyCtc0lepi2RM01DHPlFLJBEf9xfk55YoW8</string>
	<key>GCM_SENDER_ID</key>
	<string>131501421482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobarak</string>
	<key>PROJECT_ID</key>
	<string>mobarak-1f96e</string>
	<key>STORAGE_BUCKET</key>
	<string>mobarak-1f96e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131501421482:ios:6f69e41898c86c21c371d3</string>
</dict>
</plist>